/* CSS RESET */
@import "reset.css";

@font-face{
    font-family: MyBYekan;
    src: url("../fonts/Yekan.eot") format("eot"),
    url("../fonts/Yekan.woff") format("woff"),
    url("../fonts/Yekan.ttf") format("truetype");
}

/* General Styles */
.clear{
    clear: both;
}

a{
    text-decoration: none;
}

a:hover{
    color: #01579b;
}

body{
    font-family: MyBYekan ,sans-serif;
    font-size: 14px;

    text-align: center;
    width: 100%;
    margin: 0;
}

input,button{
    font-family: MyBYekan ,sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

#nav{
    background: #1565c0;
    color: #fff;
}

#nav .nav{
    padding: 10px;
}

#nav ul li{
    display: inline-block;
}

#nav ul li a{
    color: #fff;
}

#nav ul li a:hover{
     color: #d8d8d8;
}

#nav .right{
    float: right;

}

#nav .right ul li{
    margin-left: 10px;
}

#nav .left{
    float: left;
}

#nav .left ul li{
    margin: 0 10px;
}

#header .logo{
    float: right;
}

#header .logo img{
    width: 230px;
    margin: 10px;
}

.searchBox{
    float: left;
    margin-top: 10px;
}

.searchBox input{
    width: 300px;
    font-weight: bold;
    font-size: 15px;
    background-color: #f0f0f0;
    border:none;
    border-radius: 0 5px 5px 0;
    margin-left: 0;
    padding: 8px;
}

#mainSlider img{
    width: 100%;
}

.container{
    direction: rtl;
    margin: 0 100px;
}

